.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
/public/.htaccess
/public/scss/
/Vagrantfile
/docker-compose.yml
/CHANGELOG.md
/phpcs.xml
/LICENSE.md
/phpunit.xml.dist
/COPYRIGHT.md
/Dockerfile
/README.md
/data/
/docker/
